@model Student

<div class="container">
    <div class="card">
        <div class="card-header text-center text-uppercase">
            Student Details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Department ID</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.DepartmentId</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Student ID</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.StudentId</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Student Name</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.StudentName</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Email Id</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.StudentEmail</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Mobile</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.StudentPhone</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Date Of Birth</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.DateOfBirth</p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <p class="card-text text-uppercase"><strong>Gender</strong></p>
                        </div>
                        <div class="col-md-8">
                            <p class="card-text">: @Model.Gender</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @if (Model.StudentPhoto != null)
                    {
                        <img src="@Model.StudentPhoto" width="100%" alt="Student Photo" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a asp-controller="Student" asp-action="Index" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}